NEXT_PUBLIC_SUPABASE_API_KEY=<supabase-api-key>
NEXT_PUBLIC_SUPABASE_PUBLIC_URL=<supabase-public-url>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<supabase-anon-key>

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

NEXTAUTH_SECRET=<secret>
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_EMAIL_FROM=<resend-email-from>
NEXT_PUBLIC_EMAIL_PASS=<resend-email-pass>
NEXT_PUBLIC_RESEND_API_KEY=<resend-api-key>

NEXT_PUBLIC_WAITWISEHUB_API_KEY=wwh_cd75f981150776a6552e25143a4c2da57e97b5cab20e3aa3efdba4df7cdb78aa

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=<stripe-publishable-key>
STRIPE_SECRET_KEY=<stripe-secret-eky>
STRIPE_WEBHOOK_SECRET=<stripe-webhook-secret>

BASEHUB_TOKEN=<basehub-token>
BASEHUB_URL=<basehub-url>